* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #fff;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-bar-logo img {
    height: 50px;
}

.nav-bar-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.nav-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

.nav-subtitle {
    font-size: 1rem;
    color: #43c53e;
    cursor: pointer;
    
}
.nav-subtitle span {
    transition: all 0.3s ease;
}
.nav-subtitle span:hover {
    font-size: 1.2rem;
}

.nav-bar-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-bar-content a {
    font-size: 1rem;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 500;
    transition: all 0.3s ease;
}


.nav-bar-content a:hover {
    color: #FF0077;
    font-size: 1.2rem;
}

.dropdown-container {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    z-index: 100;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}

.dropdown-container:hover .dropdown {
    display: flex;
}

.nav-bar-register {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-bar-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #43c53e;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease,transform 0.2s ease;;
}

.nav-bar-button:hover {
    background-color: #36a832;
    transform: translateY(-2px);
}


.nav-bar-button:hover {
    background-color: #36a832;
}

.contact-us-button {
    background-color: #009BFF;
}

.contact-us-button:hover {
    background-color: #006aff;
}
.hamburger{
    display: none;
}
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
    gap: 15px;
    transition: left 0.3s;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
}

.sidebar a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 10px;
    transition: background-color 0.3s ease;
    border-radius: 12px;
}

.sidebar a:hover {
    background-color: #f1f1f1;
}

/* Close Button Styling */
.close-btn {
    align-self: flex-end;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    color: black;
}

@media (max-width: 768px) {
    .nav-bar-content,
    .nav-bar-register {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .hamburger span {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 4px 0;
        transition: all 0.3s;
    }
}
